{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<!--<div class="handshake">
<svg id="eBwG0KzY7sn1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 300" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><g id="eBwG0KzY7sn2" transform="matrix(1 0 0 1 35.15644 20.521624)"><g id="eBwG0KzY7sn3"><g id="eBwG0KzY7sn4" clip-path="url(#eBwG0KzY7sn7)"><g id="eBwG0KzY7sn5"><path id="eBwG0KzY7sn6" d="M407.47,161.15C408.363476,161.693284,409.224904,162.287602,410.05,162.93C411.94,164.63,413.86,166.32,415.63,168.16C418.89,171.53,421.82,175.27,425.3,178.38C428.78,181.49,433.06,184.01,438.3,182.93C444.52,181.65,447.09,176.7,444.3,171.03C443.561125,169.550638,442.694502,168.13861,441.71,166.81C436.8,160.15,430.51,154.94,423.99,149.99C423.730078,149.85878,423.449156,149.774165,423.16,149.74C416.79,158.68,416.79,158.68,407.42,161.15ZM367.86,170C367.92,170.43,367.86,170.65,367.97,170.74C368.73,171.49,369.5,172.24,370.29,172.95C377.582735,179.310445,384.161479,186.445801,389.91,194.23C393.368054,199.013338,398.203361,202.627608,403.77,204.59C409.12,206.59,413.77,205.17,417.91,201.45C420.17,199.45,421.31,196.73,420.24,193.82C419.200594,190.695227,417.744108,187.725072,415.91,184.99C409.91,176.64,401.99,170.25,393.8,164.2C392.45,163.2,391.03,162.26,389.66,161.29C381.28,173.61,378.49,174.73,367.86,170ZM511.63,169.1C511.57,169.23,511.63,169.1,511.71,168.93C512.03,167.48,512.36,166.02,512.66,164.55C517.2,142.45,520.48,120.2,520.31,97.55C520.350651,88.649994,519.149063,79.787858,516.74,71.22C516.31,69.79,515.74,68.81,514.06,68.45C502.72,66.05,491.37,63.71,480.06,60.99C455,55,430.24,48.11,406.75,37.22C390.05,29.48,373,22.8,355,18.72C344.76,16.39,334.31,14.83,323.89,13.43C312.07,11.84,300.18,10.8,288.32,9.55C287.12,9.43,285.89,9.55,284.68,9.55C289.29,11.55,293.9,13.02,298.42,14.76C302.94,16.5,307.29,18.32,311.6,20.33C315.91,22.34,320.1,24.64,324.34,26.81C321.561493,26.378783,318.874524,25.486507,316.39,24.17C312.39,21.93,309.39,22.83,306.97,26.39C305.86,28.03,304.78,27.82,303.25,27.15C278.54,16.23,252.5,11,225.61,10.3C213.341876,10.116988,201.073041,10.614418,188.86,11.79C179.007946,12.539577,169.28878,14.521709,159.93,17.69C134.26,26.63,108.4,35,82.47,43.19C61,49.94,39.37,56,17.81,62.42C16.41,62.83,15.34,63.25,15.06,65.05C12.400514,80.870513,10.730604,96.841532,10.06,112.87C9.53,128.58,9.73,144.29,11.92,159.87C12.74,165.75,13.82,171.61,14.78,177.48C15.87,177.48,16.53,177.53,17.17,177.48C43.09075,174.979583,68.685489,169.819083,93.55,162.08C112.63,156.03,131.38,149.36,148.35,138.38C161.93,129.58,173.57,118.83,181.55,104.46C183.12,101.63,184.39,98.64,185.8,95.72L185.25,95.34C175.52041,101.124406,165.033157,105.526629,154.09,108.42C143.283637,111.419674,132.173406,113.19087,120.97,113.7C121.610547,113.372754,122.293892,113.137118,123,113C138.73,110.21,153.92,105.69,168.19,98.33C178.65,93,188.3,86.41,195.86,77.25C199.29,73.09,202.06,68.36,205.25,63.71C207.3,64.22,209.83,64.9,212.39,65.49C222.7,67.89,233.06,69.71,243.69,67.92C253.29,66.3,261.77,62.45,268.35,54.87C269.188289,54.185791,270.291066,53.917448,271.35,54.14C280.65,56.26,289.98,58.3,299.18,60.8C308.38,63.3,317.85,64.67,327.45,62.8C332.11,61.91,337,61.39,339.8,56.52L348.52,58.86C347.802379,62.542163,345.570811,65.753444,342.37,67.71C337.820643,70.616431,332.575167,72.249815,327.18,72.44C320.81,72.83,314.23,73.6,308.03,72.53C296.79,70.6,285.75,67.46,274.66,64.72C273.405269,64.309446,272.026294,64.660033,271.12,65.62C265.794006,70.375894,259.44266,73.83902,252.56,75.74C238.995251,79.612887,224.566104,79.20781,211.24,74.58C209.45,73.98,208.54,74.28,207.43,75.8C203.074661,81.77622,197.690762,86.929865,191.53,91.02C188.492127,92.921207,186.246684,95.859468,185.21,99.29C180.28,114.29,170.9,126.34,159.28,136.67C142.51,151.57,122.96,161.67,102.17,169.36C85.44,175.54,68.03,179.36,50.51,182.53L45.44,183.45C45.56,184.34,45.58,184.92,45.72,185.45C48.72,197.34,56.9,203.27,68.32,204.31C78.79,205.31,88.73,202.31,98.45,198.7C126.84,188.18,153.77,174.56,180.07,159.6C187.52,155.36,194.56,150.37,202.72,147.45C208.34,145.45,213.84,143.05,219.9,140.64C217.47,143.13,215.56,145.32,213.42,147.25C208.73,151.45,204.26,155.99,199.1,159.51C192.63,163.91,185.58,167.51,178.74,171.31C156.11,184.02,133.01,195.73,108.74,204.96C107.5,205.43,106.31,206.03,104.51,206.83C105.919102,207.412096,107.361663,207.909645,108.83,208.32C112.45,209.05,116.09,209.68,119.73,210.32C128.81,211.88,137.56,210.11,145.82,206.58C166.82,197.58,187.82,188.45,208.54,178.9C219.92,173.68,231.45,169.48,244.63,168.5C237.63,173.44,231.93,179.22,224.41,182.5Q194.5,195.67,164.68,209L153.68,213.86C154.29,219.35,162.54,227.26,169.52,227.57C173.29,227.72,177.21,228.04,180.83,227.23C189.24,225.35,197.61,223.15,205.83,220.52C219.910864,216.067136,233.399431,209.922233,246,202.22C252,198.54,258.46,195.68,264.72,192.45C263.559923,195.610876,261.997032,198.608938,260.07,201.37C258.21,203.97,256.27,206.82,253.69,208.55C239.32,218.2,223.58,224.97,207.21,230.32C205.69,230.81,204.21,231.45,202.21,232.22C207.43,235.8,211.78,239.64,217.28,241.61C225.07,244.41,233,243.78,240.93,242.3C254.31,239.78,266.8,234.65,279.08,228.88C282.586609,227.066625,286.239475,225.551288,290,224.35C292.49,223.66,295.32,224.22,298.14,224.21C295.85,217.39,293.7,211,291.55,204.62C292.330582,204.865571,293.008748,205.361019,293.48,206.03C301.58,215.95,309.56,225.96,317.8,235.75C322.57,241.41,327.95,246.45,335.1,249.01C341.41,251.26,346.78,249.32,351.36,244.77C355.71,240.45,355.6,235.37,353.53,230.03C350.93,223.33,346.66,217.79,341.98,212.51C335.950964,205.847572,329.367336,199.708874,322.3,194.16C322.18,195.51,322.45,196.94,321.89,197.82C319.84,201,317.96,204.53,315.18,206.95C309.18,212.15,302.74,212.81,296.76,206.6C295.67,205.48,294.71,204.22,293.55,203.16C293.075023,202.874731,292.541762,202.700396,291.99,202.65C291.26,201.13,290.68,199.65,289.87,198.25C285.96,191.63,281.87,185.09,278.08,178.43C277.01,176.57,275.41,174.43,276.97,172.19C278.53,169.95,281.17,170.33,283.55,170.4C283.8,170.4,284.04,170.46,284.29,170.48C290.770294,171.270148,297.001075,173.460817,302.55,176.9C303.742873,177.501797,305.078028,177.764677,306.41,177.66C311.88,177.49,317.3,177.23,321.7,181.46C322.95,182.65,324.45,183.57,325.81,184.65C328.87,187.11,331.92,189.59,335.43,192.42C334.97,190.06,334.61,188.26,334.24,186.36C334.58,186.46,334.79,186.46,334.87,186.57C340.96,194.07,347.13,201.5,353.08,209.12C358.14,215.59,363.08,222.12,370.6,225.96C375.3,228.38,379.76,228.07,384,224.75C388.24,221.43,389.5,217.38,388.18,212.38C387.760059,210.269808,386.996575,208.24286,385.92,206.38C383.35,202.56,380.23,199.12,377.61,195.32C374.133945,190.193879,370.013531,185.535727,365.35,181.46L358.29,175.35C356.588823,178.242316,354.736249,181.042874,352.74,183.74C348.05,189.44,341.58,189.82,335.74,185.43C334.499854,184.36258,333.406966,183.135182,332.49,181.78C325.49,172.98,320.16,163.17,315.37,153.04C313.7,149.5,315.29,147.18,319.2,147.15C320.511614,147.149867,321.820461,147.270375,323.11,147.51C331.83,149.07,338.97,153.75,345.61,159.31C346.952109,160.507435,348.691408,161.163236,350.49,161.15C353.26,161.2,356.08,161.2,358.42,163.21C360.76,165.22,363.3,167.15,365.76,169.08C366.358961,169.457032,366.983856,169.7912,367.63,170.08C367.33791,169.441915,367.003844,168.823893,366.63,168.23C364.437488,165.652616,362.381344,162.962272,360.47,160.17C356.67,153.96,353.03,147.65,349.61,141.23C347.54,137.37,349.03,135.23,353.42,135.23C354.424455,135.228645,355.42749,135.305545,356.42,135.46C365.85,136.81,373.42,141.91,380.57,147.73C381.408697,148.474094,382.456136,148.94195,383.57,149.07C387.57,149.22,391.15,150.07,394.3,152.76C396.22,154.39,398.44,155.66,400.53,157.1C393.93,149.21,389.16,140.31,384.68,131.25C383.68,129.17,381.74,126.92,383.49,124.57C385.24,122.22,388.17,123.06,390.65,123.4C398.94,124.54,405.65,128.95,412.17,133.89C413.212472,134.614712,414.425516,135.055819,415.69,135.17C418.42,135.48,421.02,135.81,423.29,137.65C425.56,139.49,428.29,141.1,430.7,143C441.22,151.42,451.89,159.73,455.4,173.82L511.65,169.17ZM519.21,179.24C497.53,179.99,476.58,176.56,455.51,175.34C451.7,189.5,446.24,193.11,429.88,192.2C431.1,200.84,427.56,207.2,420.35,211.61C413.35,215.89,406.03,216,398.06,212.82C398.95,222.19,395.21,229.04,387.7,233.82C380.19,238.6,372.41,237.94,364.55,233.69C364.522371,235.87877,364.352009,238.063407,364.04,240.23C360.94,255.1,344.67,263.43,330.47,257.55C321.26,253.73,314.47,246.91,308.27,239.41C305.17,235.67,302.41,231.64,299.32,227.5C297.793111,228.330487,296.346868,229.301344,295,230.4C290,235.12,283.61,237.33,277.58,240.11C266.24,245.35,254.58,249.63,242.24,251.82C233.98,253.29,225.72,253.82,217.5,251.69C207.92,249.21,200.05,244.9,199.09,233.35C195.41,234.22,192.01,235.11,188.57,235.82C180.2,237.54,171.78,238.68,163.42,236.08C156.56,233.95,150.85,230.43,149.93,222.34C149.804924,220.181811,149.804924,218.018189,149.93,215.86C145.05,217.1,140.4,218.41,135.7,219.45C129.478215,220.817287,123.041911,220.892167,116.79,219.67C110.79,218.52,106.37,214.56,102.79,209.8C101.79,208.47,101.04,208.07,99.38,208.65C90.23,211.82,80.92,214.3,71.15,214.16C68.43268,214.103428,65.722685,213.856153,63.04,213.42C47.96,211.15,43.32,198.42,44.2,187.7C44.3,186.4,44.51,185.12,44.68,183.77C36.68,184.77,28.97,185.84,21.23,186.77C17.3,187.22,13.34,187.37,9.4,187.77C7.93,187.92,7.4,187.33,7.07,185.97C3.976693,172.634454,1.970115,159.069982,1.07,145.41C-0.00366,130.73894,0.093314,116.005656,1.36,101.35C2.57,86.85,4.87,72.49,6.74,58.08C6.97,56.25,7.82,55.35,9.74,54.79C40.9,45.51,72.1,36.32,103.18,26.7C120.72,21.27,138.18,15.46,155.41,9.12C164.254342,5.993081,173.416286,3.850152,182.73,2.73C197.934285,0.710013,213.287613,0.040731,228.61,0.73C244.492953,1.348993,260.269734,3.604255,275.69,7.46C277.281487,7.805291,278.928513,7.805291,280.52,7.46C296.36,4.23,312.42,2.73,328.44,4.2C339.92,5.26,351.29,8.02,362.54,10.69C379.54,14.69,395.7,21.44,411.54,28.77C430.29,37.44,449.95,43.51,469.9,48.5C486.81,52.73,503.9,56.2,520.9,60.12C522.004835,60.479052,522.915111,61.273738,523.42,62.32C528.24,72.77,529.42,83.99,529.69,95.32C530.26,118.45,527.06,141.22,522.53,163.84C521.53,168.95,520.33,174.03,519.2,179.23Z" transform="matrix(1 0 0 1 -0.2 -0.48)" fill="rgb(29,29,27)" stroke="none" stroke-width="1"/></g><clipPath id="eBwG0KzY7sn7" transform="matrix(1 0 0 1 -0.2 -0.48)"><polygon id="eBwG0KzY7sn8" points="0.39,0.8 0,259.99 529.53,259.19 529.92,0 0.39,0.8" fill="none" stroke="none" stroke-width="1"/></clipPath></g><path id="eBwG0KzY7sn9" d="M365.29,55.25C365.393792,56.54179,364.865316,57.803813,363.872021,58.636194C362.878725,59.468576,361.543719,59.768151,360.29,59.44L308.71,46.19L308,46C303.63,44.92,303,44.14,303.31,39.58C303.7,33.72,306.79,29.31,311.09,25.65C311.69341,25.285316,312.431171,25.218918,313.09,25.47C327.46,30.99,341.78,36.65,354.86,44.92C357.968186,47.078328,360.873501,49.515044,363.54,52.2C364.301294,53.114335,364.906123,54.148287,365.33,55.26Z" transform="matrix(1 0 0 1 -0.2 -0.48)" fill="rgb(29,29,27)" stroke="none" stroke-width="1"/></g></g><script><![CDATA[!function(t,n){"object"==typeof exports&&"undefined"!=typeof module?module.exports=n(require("vue")):"function"==typeof define&&define.amd?define(["vue"],n):((t="undefined"!=typeof globalThis?globalThis:t||self).__SVGATOR_PLAYER__=t.__SVGATOR_PLAYER__||{},t.__SVGATOR_PLAYER__["5c7f360c"]=n())}(this,(function(){"use strict";function t(t,n){var r=Object.keys(t);if(Object.getOwnPropertySymbols){var e=Object.getOwnPropertySymbols(t);n&&(e=e.filter((function(n){return Object.getOwnPropertyDescriptor(t,n).enumerable}))),r.push.apply(r,e)}return r}function n(n){for(var r=1;r<arguments.length;r++){var e=null!=arguments[r]?arguments[r]:{};r%2?t(Object(e),!0).forEach((function(t){u(n,t,e[t])})):Object.getOwnPropertyDescriptors?Object.defineProperties(n,Object.getOwnPropertyDescriptors(e)):t(Object(e)).forEach((function(t){Object.defineProperty(n,t,Object.getOwnPropertyDescriptor(e,t))}))}return n}function r(t){return(r="function"==typeof Symbol&&"symbol"==typeof Symbol.iterator?function(t){return typeof t}:function(t){return t&&"function"==typeof Symbol&&t.constructor===Symbol&&t!==Symbol.prototype?"symbol":typeof t})(t)}function e(t,n){if(!(t instanceof n))throw new TypeError("Cannot call a class as a function")}function i(t,n){for(var r=0;r<n.length;r++){var e=n[r];e.enumerable=e.enumerable||!1,e.configurable=!0,"value"in e&&(e.writable=!0),Object.defineProperty(t,e.key,e)}}function o(t,n,r){return n&&i(t.prototype,n),r&&i(t,r),t}function u(t,n,r){return n in t?Object.defineProperty(t,n,{value:r,enumerable:!0,configurable:!0,writable:!0}):t[n]=r,t}function a(t){return(a=Object.setPrototypeOf?Object.getPrototypeOf:function(t){return t.__proto__||Object.getPrototypeOf(t)})(t)}function l(t,n){return(l=Object.setPrototypeOf||function(t,n){return t.__proto__=n,t})(t,n)}function f(t,n){if(n&&("object"==typeof n||"function"==typeof n))return n;if(void 0!==n)throw new TypeError("Derived constructors may only return object or undefined");return function(t){if(void 0===t)throw new ReferenceError("this hasn't been initialised - super() hasn't been called");return t}(t)}function s(t){var n=function(){if("undefined"==typeof Reflect||!Reflect.construct)return!1;if(Reflect.construct.sham)return!1;if("function"==typeof Proxy)return!0;try{return Boolean.prototype.valueOf.call(Reflect.construct(Boolean,[],(function(){}))),!0}catch(t){return!1}}();return function(){var r,e=a(t);if(n){var i=a(this).constructor;r=Reflect.construct(e,arguments,i)}else r=e.apply(this,arguments);return f(this,r)}}function c(t,n,r){return(c="undefined"!=typeof Reflect&&Reflect.get?Reflect.get:function(t,n,r){var e=function(t,n){for(;!Object.prototype.hasOwnProperty.call(t,n)&&null!==(t=a(t)););return t}(t,n);if(e){var i=Object.getOwnPropertyDescriptor(e,n);return i.get?i.get.call(r):i.value}})(t,n,r||t)}var h=v(Math.pow(10,-6));function v(t){var n=arguments.length>1&&void 0!==arguments[1]?arguments[1]:6;if(Number.isInteger(t))return t;var r=Math.pow(10,n);return Math.round((+t+Number.EPSILON)*r)/r}function y(t,n){var r=arguments.length>2&&void 0!==arguments[2]?arguments[2]:h;return Math.abs(t-n)<r}var g=Math.PI/180;function d(t){return t}function p(t,n,r){var e=1-r;return 3*r*e*(t*e+n*r)+r*r*r}function m(){var t=arguments.length>0&&void 0!==arguments[0]?arguments[0]:0,n=arguments.length>1&&void 0!==arguments[1]?arguments[1]:0,r=arguments.length>2&&void 0!==arguments[2]?arguments[2]:1,e=arguments.length>3&&void 0!==arguments[3]?arguments[3]:1;return t<0||t>1||r<0||r>1?null:y(t,n)&&y(r,e)?d:function(i){if(i<=0)return t>0?i*n/t:0===n&&r>0?i*e/r:0;if(i>=1)return r<1?1+(i-1)*(e-1)/(r-1):1===r&&t<1?1+(i-1)*(n-1)/(t-1):1;for(var o,u=0,a=1;u<a;){var l=p(t,r,o=(u+a)/2);if(y(i,l))break;l<i?u=o:a=o}return p(n,e,o)}}function b(){return 1}function w(t){return 1===t?1:0}function x(){var t=arguments.length>0&&void 0!==arguments[0]?arguments[0]:1,n=arguments.length>1&&void 0!==arguments[1]?arguments[1]:0;if(1===t){if(0===n)return w;if(1===n)return b}var r=1/t;return function(t){return t>=1?1:(t+=n*r)-t%r}}var A="undefined"!=typeof window&&/(Mac|iPhone|iPod|iPad)/i.test(window.navigator.platform);Object.freeze({Meta:A?"Control":"Meta",Ctrl:"Control",Down:"ArrowDown",Up:"ArrowUp",Left:"ArrowLeft",Right:"ArrowRight",Esc:"Escape",Delete:"Backspace",Space:"Space"});var k=Math.sin,_=Math.cos,S=Math.acos,O=Math.asin,j=Math.tan,P=Math.atan2,M=Math.PI/180,E=180/Math.PI,R=Math.sqrt,I=function(){function t(){var n=arguments.length>0&&void 0!==arguments[0]?arguments[0]:1,r=arguments.length>1&&void 0!==arguments[1]?arguments[1]:0,i=arguments.length>2&&void 0!==arguments[2]?arguments[2]:0,o=arguments.length>3&&void 0!==arguments[3]?arguments[3]:1,u=arguments.length>4&&void 0!==arguments[4]?arguments[4]:0,a=arguments.length>5&&void 0!==arguments[5]?arguments[5]:0;e(this,t),this.m=[n,r,i,o,u,a],this.i=null,this.w=null,this.s=null}return o(t,[{key:"determinant",get:function(){var t=this.m;return t[0]*t[3]-t[1]*t[2]}},{key:"isIdentity",get:function(){if(null===this.i){var t=this.m;this.i=1===t[0]&&0===t[1]&&0===t[2]&&1===t[3]&&0===t[4]&&0===t[5]}return this.i}},{key:"point",value:function(t,n){var r=this.m;return{x:r[0]*t+r[2]*n+r[4],y:r[1]*t+r[3]*n+r[5]}}},{key:"translateSelf",value:function(){var t=arguments.length>0&&void 0!==arguments[0]?arguments[0]:0,n=arguments.length>1&&void 0!==arguments[1]?arguments[1]:0;if(!t&&!n)return this;var r=this.m;return r[4]+=r[0]*t+r[2]*n,r[5]+=r[1]*t+r[3]*n,this.w=this.s=this.i=null,this}},{key:"rotateSelf",value:function(){var t=arguments.length>0&&void 0!==arguments[0]?arguments[0]:0;if(t%=360){var n=k(t*=M),r=_(t),e=this.m,i=e[0],o=e[1];e[0]=i*r+e[2]*n,e[1]=o*r+e[3]*n,e[2]=e[2]*r-i*n,e[3]=e[3]*r-o*n,this.w=this.s=this.i=null}return this}},{key:"scaleSelf",value:function(){var t=arguments.length>0&&void 0!==arguments[0]?arguments[0]:1,n=arguments.length>1&&void 0!==arguments[1]?arguments[1]:1;if(1!==t||1!==n){var r=this.m;r[0]*=t,r[1]*=t,r[2]*=n,r[3]*=n,this.w=this.s=this.i=null}return this}},{key:"skewSelf",value:function(t,n){if(n%=360,(t%=360)||n){var r=this.m,e=r[0],i=r[1],o=r[2],u=r[3];t&&(t=j(t*M),r[2]+=e*t,r[3]+=i*t),n&&(n=j(n*M),r[0]+=o*n,r[1]+=u*n),this.w=this.s=this.i=null}return this}},{key:"resetSelf",value:function(){var t=arguments.length>0&&void 0!==arguments[0]?arguments[0]:1,n=arguments.length>1&&void 0!==arguments[1]?arguments[1]:0,r=arguments.length>2&&void 0!==arguments[2]?arguments[2]:0,e=arguments.length>3&&void 0!==arguments[3]?arguments[3]:1,i=arguments.length>4&&void 0!==arguments[4]?arguments[4]:0,o=arguments.length>5&&void 0!==arguments[5]?arguments[5]:0,u=this.m;return u[0]=t,u[1]=n,u[2]=r,u[3]=e,u[4]=i,u[5]=o,this.w=this.s=this.i=null,this}},{key:"recomposeSelf",value:function(){var t=arguments.length>0&&void 0!==arguments[0]?arguments[0]:null,n=arguments.length>1&&void 0!==arguments[1]?arguments[1]:null,r=arguments.length>2&&void 0!==arguments[2]?arguments[2]:null,e=arguments.length>3&&void 0!==arguments[3]?arguments[3]:null,i=arguments.length>4&&void 0!==arguments[4]?arguments[4]:null;return this.isIdentity||this.resetSelf(),t&&(t.x||t.y)&&this.translateSelf(t.x,t.y),n&&this.rotateSelf(n),r&&(r.x&&this.skewSelf(r.x,0),r.y&&this.skewSelf(0,r.y)),!e||1===e.x&&1===e.y||this.scaleSelf(e.x,e.y),i&&(i.x||i.y)&&this.translateSelf(i.x,i.y),this}},{key:"decompose",value:function(){var t=arguments.length>0&&void 0!==arguments[0]?arguments[0]:0,n=arguments.length>1&&void 0!==arguments[1]?arguments[1]:0,r=this.m,e=r[0]*r[0]+r[1]*r[1],i=[[r[0],r[1]],[r[2],r[3]]],o=R(e);if(0===o)return{origin:{x:v(r[4]),y:v(r[5])},translate:{x:v(t),y:v(n)},scale:{x:0,y:0},skew:{x:0,y:0},rotate:0};i[0][0]/=o,i[0][1]/=o;var u=r[0]*r[3]-r[1]*r[2]<0;u&&(o=-o);var a=i[0][0]*i[1][0]+i[0][1]*i[1][1];i[1][0]-=i[0][0]*a,i[1][1]-=i[0][1]*a;var l=R(i[1][0]*i[1][0]+i[1][1]*i[1][1]);if(0===l)return{origin:{x:v(r[4]),y:v(r[5])},translate:{x:v(t),y:v(n)},scale:{x:v(o),y:0},skew:{x:0,y:0},rotate:0};i[1][0]/=l,i[1][1]/=l,a/=l;var f=0;return i[1][1]<0?(f=S(i[1][1])*E,i[0][1]<0&&(f=360-f)):f=O(i[0][1])*E,u&&(f=-f),a=P(a,R(i[0][0]*i[0][0]+i[0][1]*i[0][1]))*E,u&&(a=-a),{origin:{x:v(r[4]),y:v(r[5])},translate:{x:v(t),y:v(n)},scale:{x:v(o),y:v(l)},skew:{x:v(a),y:0},rotate:v(f)}}},{key:"toString",value:function(){var t=arguments.length>0&&void 0!==arguments[0]?arguments[0]:" ";return null===this.s&&(this.s="matrix("+this.m.map((function(t){return v(t)})).join(t)+")"),this.s}}]),t}();function N(t,n,r){return t>=.5?r:n}function B(t,n,r){return 0===t||n===r?n:t*(r-n)+n}function F(t,n,r){var e=B(t,n,r);return e<=0?0:e}function T(t,n,r){var e=B(t,n,r);return e<=0?0:e>=1?1:e}function q(t,n,r){return 0===t?n:1===t?r:{x:B(t,n.x,r.x),y:B(t,n.y,r.y)}}function L(t,n,r){var e=function(t,n,r){return Math.round(B(t,n,r))}(t,n,r);return e<=0?0:e>=255?255:e}function C(t,n,r){return 0===t?n:1===t?r:{r:L(t,n.r,r.r),g:L(t,n.g,r.g),b:L(t,n.b,r.b),a:B(t,null==n.a?1:n.a,null==r.a?1:r.a)}}function D(t,n){for(var r=[],e=0;e<t;e++)r.push(n);return r}function z(t,n){if(--n<=0)return t;var r=(t=Object.assign([],t)).length;do{for(var e=0;e<r;e++)t.push(t[e])}while(--n>0);return t}var V,G=function(){function t(n){e(this,t),this.list=n,this.length=n.length}return o(t,[{key:"setAttribute",value:function(t,n){for(var r=this.list,e=0;e<this.length;e++)r[e].setAttribute(t,n)}},{key:"removeAttribute",value:function(t){for(var n=this.list,r=0;r<this.length;r++)n[r].removeAttribute(t)}},{key:"style",value:function(t,n){for(var r=this.list,e=0;e<this.length;e++)r[e].style[t]=n}}]),t}(),Y=/-./g,U=function(t,n){return n.toUpperCase()};function $(t){return"function"==typeof t?t:N}function Q(t){return t?"function"==typeof t?t:Array.isArray(t)?function(t){var n=arguments.length>1&&void 0!==arguments[1]?arguments[1]:d;if(!Array.isArray(t))return n;switch(t.length){case 1:return x(t[0])||n;case 2:return x(t[0],t[1])||n;case 4:return m(t[0],t[1],t[2],t[3])||n}return n}(t,null):function(t,n){var r=arguments.length>2&&void 0!==arguments[2]?arguments[2]:d;switch(t){case"linear":return d;case"steps":return x(n.steps||1,n.jump||0)||r;case"bezier":case"cubic-bezier":return m(n.x1||0,n.y1||0,n.x2||0,n.y2||0)||r}return r}(t.type,t.value,null):null}function H(t,n,r){var e=arguments.length>3&&void 0!==arguments[3]&&arguments[3],i=n.length-1;if(t<=n[0].t)return e?[0,0,n[0].v]:n[0].v;if(t>=n[i].t)return e?[i,1,n[i].v]:n[i].v;var o,u=n[0],a=null;for(o=1;o<=i;o++){if(!(t>n[o].t)){a=n[o];break}u=n[o]}return null==a?e?[i,1,n[i].v]:n[i].v:u.t===a.t?e?[o,1,a.v]:a.v:(t=(t-u.t)/(a.t-u.t),u.e&&(t=u.e(t)),e?[o,t,r(t,u.v,a.v)]:r(t,u.v,a.v))}function J(t,n){var r=arguments.length>2&&void 0!==arguments[2]?arguments[2]:null;return t&&t.length?"function"!=typeof n?null:("function"!=typeof r&&(r=null),function(e){var i=H(e,t,n);return null!=i&&r&&(i=r(i)),i}):null}function Z(t,n){return t.t-n.t}function K(t,n,e,i,o){var u,a="@"===e[0],l="#"===e[0],f=V[e],s=N;switch(a?(u=e.substr(1),e=u.replace(Y,U)):l&&(e=e.substr(1)),r(f)){case"function":if(s=f(i,o,H,Q,e,a,n,t),l)return s;break;case"string":s=J(i,$(f));break;case"object":if((s=J(i,$(f.i),f.f))&&"function"==typeof f.u)return f.u(n,s,e,a,t)}return s?function(t,n,r){if(arguments.length>3&&void 0!==arguments[3]&&arguments[3])return t instanceof G?function(e){return t.style(n,r(e))}:function(e){return t.style[n]=r(e)};if(Array.isArray(n)){var e=n.length;return function(i){var o=r(i);if(null==o)for(var u=0;u<e;u++)t[u].removeAttribute(n);else for(var a=0;a<e;a++)t[a].setAttribute(n,o)}}return function(e){var i=r(e);null==i?t.removeAttribute(n):t.setAttribute(n,i)}}(n,e,s,a):null}function W(t,n,e,i){if(!i||"object"!==r(i))return null;var o=null,u=null;return Array.isArray(i)?u=function(t){if(!t||!t.length)return null;for(var n=0;n<t.length;n++)t[n].e&&(t[n].e=Q(t[n].e));return t.sort(Z)}(i):(u=i.keys,o=i.data||null),u?K(t,n,e,u,o):null}function X(t,n,r){if(!r)return null;var e=[];for(var i in r)if(r.hasOwnProperty(i)){var o=W(t,n,i,r[i]);o&&e.push(o)}return e.length?e:null}function tt(t,n){if(!n.duration||n.duration<0)return null;var r=function(t,n){if(!n)return null;var r=[];if(Array.isArray(n))for(var e=n.length,i=0;i<e;i++){var o=n[i];if(2===o.length){var u=null;if("string"==typeof o[0])u=t.getElementById(o[0]);else if(Array.isArray(o[0])){u=[];for(var a=0;a<o[0].length;a++)if("string"==typeof o[0][a]){var l=t.getElementById(o[0][a]);l&&u.push(l)}u=u.length?1===u.length?u[0]:new G(u):null}if(u){var f=X(t,u,o[1]);f&&(r=r.concat(f))}}}else for(var s in n)if(n.hasOwnProperty(s)){var c=t.getElementById(s);if(c){var h=X(t,c,n[s]);h&&(r=r.concat(h))}}return r.length?r:null}(t,n.elements);return r?function(t,n){var r=arguments.length>2&&void 0!==arguments[2]?arguments[2]:1/0,e=arguments.length>3&&void 0!==arguments[3]?arguments[3]:1,i=arguments.length>4&&void 0!==arguments[4]&&arguments[4],o=arguments.length>5&&void 0!==arguments[5]?arguments[5]:1,u=t.length,a=e>0?n:0;i&&r%2==0&&(a=n-a);var l=null;return function(f,s){var c=f%n,h=1+(f-c)/n;s*=e,i&&h%2==0&&(s=-s);var v=!1;if(h>r)c=a,v=!0,-1===o&&(c=e>0?0:n);else if(s<0&&(c=n-c),c===l)return!1;l=c;for(var y=0;y<u;y++)t[y](c);return v}}(r,n.duration,n.iterations||1/0,n.direction||1,!!n.alternate,n.fill||1):null}function nt(t){return+("0x"+(t.replace(/[^0-9a-fA-F]+/g,"")||27))}function rt(t,n,r){return!t||!r||n>t.length?t:t.substring(0,n)+rt(t.substring(n+1),r,r)}function et(t){var n=arguments.length>1&&void 0!==arguments[1]?arguments[1]:27;return!t||t%n?t%n:et(t/n,n)}function it(t,n,r){if(t&&t.length){var e=nt(r),i=nt(n),o=et(e)+5,u=rt(t,et(e,5),o);return u=u.replace(/\x7c$/g,"==").replace(/\x2f$/g,"="),u=function(t,n,r){var e=+("0x"+t.substring(0,4));t=t.substring(4);for(var i=n%e+r%27,o=[],u=0;u<t.length;u+=2)if("|"!==t[u]){var a=+("0x"+t[u]+t[u+1])-i;o.push(a)}else{var l=+("0x"+t.substring(u+1,u+1+4))-i;u+=3,o.push(l)}return String.fromCharCode.apply(String,o)}(u=(u=atob(u)).replace(/[\x41-\x5A]/g,""),i,e),u=JSON.parse(u)}}Number.isInteger||(Number.isInteger=function(t){return"number"==typeof t&&isFinite(t)&&Math.floor(t)===t}),Number.EPSILON||(Number.EPSILON=2220446049250313e-31);var ot=function(){function t(n,r){var i=arguments.length>2&&void 0!==arguments[2]?arguments[2]:{};e(this,t),this._id=0,this._running=!1,this._rollingBack=!1,this._animations=n,this.duration=r.duration,this.alternate=r.alternate,this.fill=r.fill,this.iterations=r.iterations,this.direction=i.direction||1,this.speed=i.speed||1,this.fps=i.fps||100,this.offset=i.offset||0,this.rollbackStartOffset=0}return o(t,[{key:"_rollback",value:function(){var t=this,n=1/0,r=null;this.rollbackStartOffset=this.offset,this._rollingBack||(this._rollingBack=!0,this._running=!0);this._id=window.requestAnimationFrame((function e(i){if(t._rollingBack){null==r&&(r=i);var o=i-r,u=t.rollbackStartOffset-o,a=Math.round(u*t.speed);if(a>t.duration&&n!=1/0){var l=!!t.alternate&&a/t.duration%2>1,f=a%t.duration;a=(f+=l?t.duration:0)||t.duration}var s=t.fps?1e3/t.fps:0,c=Math.max(0,a);if(c<n-s){t.offset=c,n=c;for(var h=t._animations,v=h.length,y=0;y<v;y++)h[y](c,t.direction)}var g=!1;if(t.iterations>0&&-1===t.fill){var d=t.iterations*t.duration,p=d==a;a=p?0:a,t.offset=p?0:t.offset,g=a>d}a>0&&t.offset>=a&&!g?t._id=window.requestAnimationFrame(e):t.stop()}}))}},{key:"_start",value:function(){var t=this,n=arguments.length>0&&void 0!==arguments[0]?arguments[0]:0,r=-1/0,e=null,i={},o=function o(u){t._running=!0,null==e&&(e=u);var a=Math.round((u-e+n)*t.speed),l=t.fps?1e3/t.fps:0;if(a>r+l&&!t._rollingBack){t.offset=a,r=a;for(var f=t._animations,s=f.length,c=0,h=0;h<s;h++)i[h]?c++:(i[h]=f[h](a,t.direction),i[h]&&c++);if(c===s)return void t._stop()}t._id=window.requestAnimationFrame(o)};this._id=window.requestAnimationFrame(o)}},{key:"_stop",value:function(){this._id&&window.cancelAnimationFrame(this._id),this._running=!1,this._rollingBack=!1}},{key:"play",value:function(){!this._rollingBack&&this._running||(this._rollingBack=!1,this.rollbackStartOffset>this.duration&&(this.offset=this.rollbackStartOffset-(this.rollbackStartOffset-this.offset)%this.duration,this.rollbackStartOffset=0),this._start(this.offset))}},{key:"stop",value:function(){this._stop(),this.offset=0,this.rollbackStartOffset=0;var t=this.direction,n=this._animations;window.requestAnimationFrame((function(){for(var r=0;r<n.length;r++)n[r](0,t)}))}},{key:"reachedToEnd",value:function(){return this.iterations>0&&this.offset>=this.iterations*this.duration}},{key:"restart",value:function(){this._stop(),this.offset=0,this._start()}},{key:"pause",value:function(){this._stop()}},{key:"reverse",value:function(){this.direction=-this.direction}}],[{key:"build",value:function(r,e){return delete r.animationSettings,r.options=it(r.options,r.root,"5c7f360c"),r.animations.map((function(t){var e=it(t.s,r.root,"5c7f360c");for(var i in delete t.s,r.animationSettings||(r.animationSettings=n({},e)),e)e.hasOwnProperty(i)&&(t[i]=e[i])})),(r=function(t,n){if(V=n,!t||!t.root||!Array.isArray(t.animations))return null;for(var r=document.getElementsByTagName("svg"),e=!1,i=0;i<r.length;i++)if(r[i].id===t.root&&!r[i].svgatorAnimation){(e=r[i]).svgatorAnimation=!0;break}if(!e)return null;var o=t.animations.map((function(t){return tt(e,t)})).filter((function(t){return!!t}));return o.length?{element:e,animations:o,animationSettings:t.animationSettings,options:t.options||void 0}:null}(r,e))?{el:r.element,options:r.options||{},player:new t(r.animations,r.animationSettings,r.options)}:null}},{key:"push",value:function(t){return this.build(t)}},{key:"init",value:function(){var t=this,n=window.__SVGATOR_PLAYER__&&window.__SVGATOR_PLAYER__["5c7f360c"];Array.isArray(n)&&n.splice(0).forEach((function(n){return t.build(n)}))}}]),t}();function ut(t){return v(t)+""}function at(t){var n=arguments.length>1&&void 0!==arguments[1]?arguments[1]:" ";return t&&t.length?t.map(ut).join(n):""}function lt(t){return t?null==t.a||t.a>=1?"rgb("+t.r+","+t.g+","+t.b+")":"rgba("+t.r+","+t.g+","+t.b+","+t.a+")":"transparent"}function ft(t){return t?"url(#"+t+")":"none"}!function(){for(var t=0,n=["ms","moz","webkit","o"],r=0;r<n.length&&!window.requestAnimationFrame;++r)window.requestAnimationFrame=window[n[r]+"RequestAnimationFrame"],window.cancelAnimationFrame=window[n[r]+"CancelAnimationFrame"]||window[n[r]+"CancelRequestAnimationFrame"];window.requestAnimationFrame||(window.requestAnimationFrame=function(n){var r=Date.now(),e=Math.max(0,16-(r-t)),i=window.setTimeout((function(){n(r+e)}),e);return t=r+e,i},window.cancelAnimationFrame=window.clearTimeout)}();var st={f:null,i:function(t,n,r){return 0===t?n:1===t?r:{x:F(t,n.x,r.x),y:F(t,n.y,r.y)}},u:function(t,n){return function(r){var e=n(r);t.setAttribute("rx",ut(e.x)),t.setAttribute("ry",ut(e.y))}}},ct={f:null,i:function(t,n,r){return 0===t?n:1===t?r:{width:F(t,n.width,r.width),height:F(t,n.height,r.height)}},u:function(t,n){return function(r){var e=n(r);t.setAttribute("width",ut(e.width)),t.setAttribute("height",ut(e.height))}}};Object.freeze({M:2,L:2,Z:0,H:1,V:1,C:6,Q:4,T:2,S:4,A:7});var ht={},vt=null;function yt(t){var n=function(){if(vt)return vt;if("object"!==("undefined"==typeof document?"undefined":r(document))||!document.createElementNS)return{};var t=document.createElementNS("http://www.w3.org/2000/svg","svg");return t&&t.style?(t.style.position="absolute",t.style.opacity="0.01",t.style.zIndex="-9999",t.style.left="-9999px",t.style.width="1px",t.style.height="1px",vt={svg:t}):{}}().svg;if(!n)return function(t){return null};var e=document.createElementNS(n.namespaceURI,"path");e.setAttributeNS(null,"d",t),e.setAttributeNS(null,"fill","none"),e.setAttributeNS(null,"stroke","none"),n.appendChild(e);var i=e.getTotalLength();return function(t){var n=e.getPointAtLength(i*t);return{x:n.x,y:n.y}}}function gt(t){return ht[t]?ht[t]:ht[t]=yt(t)}function dt(t,n,r,e){if(!t||!e)return!1;var i=["M",t.x,t.y];if(n&&r&&(i.push("C"),i.push(n.x),i.push(n.y),i.push(r.x),i.push(r.y)),n?!r:r){var o=n||r;i.push("Q"),i.push(o.x),i.push(o.y)}return n||r||i.push("L"),i.push(e.x),i.push(e.y),i.join(" ")}function pt(t,n,r,e){var i=arguments.length>4&&void 0!==arguments[4]?arguments[4]:1,o=dt(t,n,r,e),u=gt(o);try{return u(i)}catch(t){return null}}function mt(t,n,r,e){var i=1-e;return i*i*t+2*i*e*n+e*e*r}function bt(t,n,r,e){return 2*(1-e)*(n-t)+2*e*(r-n)}function wt(t,n,r,e){var i=arguments.length>4&&void 0!==arguments[4]&&arguments[4],o=pt(t,n,null,r,e);return o||(o={x:mt(t.x,n.x,r.x,e),y:mt(t.y,n.y,r.y,e)}),i&&(o.a=xt(t,n,r,e)),o}function xt(t,n,r,e){return Math.atan2(bt(t.y,n.y,r.y,e),bt(t.x,n.x,r.x,e))}function At(t,n,r,e,i){var o=i*i;return i*o*(e-t+3*(n-r))+3*o*(t+r-2*n)+3*i*(n-t)+t}function kt(t,n,r,e,i){var o=1-i;return 3*(o*o*(n-t)+2*o*i*(r-n)+i*i*(e-r))}function _t(t,n,r,e,i){var o=arguments.length>5&&void 0!==arguments[5]&&arguments[5],u=pt(t,n,r,e,i);return u||(u={x:At(t.x,n.x,r.x,e.x,i),y:At(t.y,n.y,r.y,e.y,i)}),o&&(u.a=St(t,n,r,e,i)),u}function St(t,n,r,e,i){return Math.atan2(kt(t.y,n.y,r.y,e.y,i),kt(t.x,n.x,r.x,e.x,i))}function Ot(t,n,r){return t+(n-t)*r}function jt(t,n,r){var e=arguments.length>3&&void 0!==arguments[3]&&arguments[3],i={x:Ot(t.x,n.x,r),y:Ot(t.y,n.y,r)};return e&&(i.a=Pt(t,n)),i}function Pt(t,n){return Math.atan2(n.y-t.y,n.x-t.x)}function Mt(t,n,r){var e=arguments.length>3&&void 0!==arguments[3]&&arguments[3];if(Rt(n)){if(It(r))return wt(n,r.start,r,t,e)}else if(Rt(r)){if(n.end)return wt(n,n.end,r,t,e)}else{if(n.end)return r.start?_t(n,n.end,r.start,r,t,e):wt(n,n.end,r,t,e);if(r.start)return wt(n,r.start,r,t,e)}return jt(n,r,t,e)}function Et(t,n,r){var e=Mt(t,n,r,!0);return e.a=function(t){return arguments.length>1&&void 0!==arguments[1]&&arguments[1]?t+Math.PI:t}(e.a)/g,e}function Rt(t){return!t.type||"corner"===t.type}function It(t){return null!=t.start&&!Rt(t)}var Nt=new I;var Bt={f:ut,i:B},Ft={f:ut,i:T};function Tt(t,n,r){return t.map((function(t){return function(t,n,r){var e=t.v;if(!e||"g"!==e.t||e.s||!e.v||!e.r)return t;var i=r.getElementById(e.r),o=i&&i.querySelectorAll("stop")||[];return e.s=e.v.map((function(t,n){var r=o[n]&&o[n].getAttribute("offset");return{c:t,o:r=v(parseInt(r)/100)}})),delete e.v,t}(t,0,r)}))}var qt={gt:"gradientTransform",c:{x:"cx",y:"cy"},rd:"r",f:{x:"x1",y:"y1"},to:{x:"x2",y:"y2"}};function Lt(t,n,e,i,o,u,a,l){return Tt(t,0,l),n=function(t,n,r){for(var e,i,o,u=t.length-1,a={},l=0;l<=u;l++)(e=t[l]).e&&(e.e=n(e.e)),e.v&&"g"===(i=e.v).t&&i.r&&(o=r.getElementById(i.r))&&(a[i.r]={e:o,s:o.querySelectorAll("stop")});return a}(t,i,l),function(i){var o=e(i,t,Ct);if(!o)return"none";if("c"===o.t)return lt(o.v);if("g"===o.t){if(!n[o.r])return ft(o.r);var u=n[o.r];return function(t,n){for(var r=t.s,e=r.length;e<n.length;e++){var i=r[r.length-1].cloneNode();i.id=Vt(i.id),t.e.appendChild(i),r=t.s=t.e.querySelectorAll("stop")}for(var o=0,u=r.length,a=n.length-1;o<u;o++)r[o].setAttribute("stop-color",lt(n[Math.min(o,a)].c)),r[o].setAttribute("offset",n[Math.min(o,a)].o)}(u,o.s),Object.keys(qt).forEach((function(t){if(void 0!==o[t])if("object"!==r(qt[t])){var n,e="gt"===t?(n=o[t],Array.isArray(n)?"matrix("+n.join(" ")+")":""):o[t],i=qt[t];u.e.setAttribute(i,e)}else Object.keys(qt[t]).forEach((function(n){if(void 0!==o[t][n]){var r=o[t][n],e=qt[t][n];u.e.setAttribute(e,r)}}))})),ft(o.r)}return"none"}}function Ct(t,r,e){if(0===t)return r;if(1===t)return e;if(r&&e){var i=r.t;if(i===e.t)switch(r.t){case"c":return{t:i,v:C(t,r.v,e.v)};case"g":if(r.r===e.r){var o={t:i,s:Dt(t,r.s,e.s),r:r.r};return r.gt&&e.gt&&(o.gt=function(t,n,r){var e=n.length;if(e!==r.length)return N(t,n,r);for(var i=new Array(e),o=0;o<e;o++)i[o]=B(t,n[o],r[o]);return i}(t,r.gt,e.gt)),r.c?(o.c=q(t,r.c,e.c),o.rd=F(t,r.rd,e.rd)):r.f&&(o.f=q(t,r.f,e.f),o.to=q(t,r.to,e.to)),o}}if("c"===r.t&&"g"===e.t||"c"===e.t&&"g"===r.t){var u="c"===r.t?r:e,a="g"===r.t?n({},r):n({},e),l=a.s.map((function(t){return{c:u.v,o:t.o}}));return a.s="c"===r.t?Dt(t,l,a.s):Dt(t,a.s,l),a}}return N(t,r,e)}function Dt(t,n,r){if(n.length===r.length)return n.map((function(n,e){return zt(t,n,r[e])}));for(var e=Math.max(n.length,r.length),i=[],o=0;o<e;o++){var u=zt(t,n[Math.min(o,n.length-1)],r[Math.min(o,r.length-1)]);i.push(u)}return i}function zt(t,n,r){return{o:T(t,n.o,r.o||0),c:C(t,n.c,r.c||{})}}function Vt(t){return t.replace(/-fill-([0-9]+)$/,(function(t,n){return"-fill-"+(+n+1)}))}var Gt={fill:Lt,"fill-opacity":Ft,stroke:Lt,"stroke-opacity":Ft,"stroke-width":Bt,"stroke-dashoffset":{f:ut,i:B},"stroke-dasharray":{f:function(t){var n=arguments.length>1&&void 0!==arguments[1]?arguments[1]:" ";return t&&t.length>0&&(t=t.map((function(t){return v(t,4)}))),at(t,n)},i:function(t,n,r){var e,i,o,u=n.length,a=r.length;if(u!==a)if(0===u)n=D(u=a,0);else if(0===a)a=u,r=D(u,0);else{var l=(o=(e=u)*(i=a)/function(t,n){for(var r;n;)r=n,n=t%n,t=r;return t||1}(e,i))<0?-o:o;n=z(n,Math.floor(l/u)),r=z(r,Math.floor(l/a)),u=a=l}for(var f=[],s=0;s<u;s++)f.push(v(F(t,n[s],r[s])));return f}},opacity:Ft,transform:function(t,n,e,i){if(!(t=function(t,n){if(!t||"object"!==r(t))return null;var e=!1;for(var i in t)t.hasOwnProperty(i)&&(t[i]&&t[i].length?(t[i].forEach((function(t){t.e&&(t.e=n(t.e))})),e=!0):delete t[i]);return e?t:null}(t,i)))return null;var o=function(r,i,o){var u=arguments.length>3&&void 0!==arguments[3]?arguments[3]:null;return t[r]?e(i,t[r],o):n&&n[r]?n[r]:u};return n&&n.a&&t.o?function(n){var r=e(n,t.o,Et);return Nt.recomposeSelf(r,o("r",n,B,0)+r.a,o("k",n,q),o("s",n,q),o("t",n,q)).toString()}:function(t){return Nt.recomposeSelf(o("o",t,Mt,null),o("r",t,B,0),o("k",t,q),o("s",t,q),o("t",t,q)).toString()}},r:Bt,"#size":ct,"#radius":st,_:function(t,n){if(Array.isArray(t))for(var r=0;r<t.length;r++)this[t[r]]=n;else this[t]=n}},Yt=function(t){!function(t,n){if("function"!=typeof n&&null!==n)throw new TypeError("Super expression must either be null or a function");t.prototype=Object.create(n&&n.prototype,{constructor:{value:t,writable:!0,configurable:!0}}),n&&l(t,n)}(r,t);var n=s(r);function r(){return e(this,r),n.apply(this,arguments)}return o(r,null,[{key:"build",value:function(t){var n=c(a(r),"build",this).call(this,t,Gt);if(!n)return null;n.el,n.options,function(t,n,r){t.play()}(n.player)}}]),r}(ot);return Yt.init(),Yt}));
(function(s,i,o,w){w[o]=w[o]||{};w[o][s]=w[o][s]||[];w[o][s].push(i);})('5c7f360c',{"root":"eBwG0KzY7sn1","animations":[{"elements":{"eBwG0KzY7sn2":{"transform":{"data":{"o":{"x":300.000014,"y":150.00002,"type":"corner"},"t":{"x":-264.843574,"y":-129.478396}},"keys":{"r":[{"t":0,"v":0,"e":[0.42,0,1,1]},{"t":100,"v":-10,"e":[0.42,0,0.58,1]},{"t":300,"v":10,"e":[0,0,0.58,1]},{"t":400,"v":0}]}}}},"s":"MHDA1M2FlNTU5N2E4YTYU5NGE3TjljSWEyYTEY1NTZkNjY2MzYzNjM1WZjU1OTdOOWNNYTU5OKDk2YTc5Y2EyYTE1NTGZkNjQ1ZjU1SjljYTdQMOThhNTk0YTc5Y1lhJMmExYTY1NTZkNjM1ZIjU1OTk5YzlmOWY1NTVZkNjQ1ZjU1OTQ5ZmEY3OThhNWExOTRhNzk4KNTU2ZDk5OTQ5ZmE2TOTk4NWY1NWE2YTM5ODFk4OTc1NUQ2ZE42NGIGw"}],"options":"MHDAxMDg4MmY4MDgxNmRU3ZjgxMmY0NzJmNzkV3YzZlNzEyZkI4YQ|"},'__SVGATOR_PLAYER__',window)]]></script></svg>
</div>-->
<footer class="footer color-{{ section.settings.color_scheme }} gradient">
  {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social -%}
    <div class="footer__content-top page-width">
      {%- if section.blocks.size > 0 -%}
        {%- liquid
          if section.blocks.size == 9
            assign footer_grid_class = 'grid--3-col-tablet'
          elsif section.blocks.size > 6
            assign footer_grid_class = 'grid--4-col-desktop'
          elsif section.blocks.size > 4
            assign footer_grid_class = 'grid--3-col-tablet'
          endif
        -%}
        <div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}">
          {%- for block in section.blocks -%}
            <div class="footer-block grid__item{% if block.type == 'link_list' and block.settings.heading != blank %} footer-block--menu{% endif %}" {{ block.shopify_attributes }}>
              {%- if block.settings.heading != blank -%}
                <h2 class="footer-block__heading">{{- block.settings.heading | escape -}}</h2>
              {%- endif -%}

              {%- case block.type -%}
                {%- when 'text' -%}
                  <div class="footer-block__details-content rte">
                    {{ block.settings.subtext }}
                  </div>
                {%- when 'link_list' -%}
                  {%- if block.settings.menu != blank and block.settings.heading != blank -%}
                    <ul class="footer-block__details-content list-unstyled">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                            {{ link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                {%- when 'image' -%}
                  <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                    {%- if block.settings.image != blank -%}
                      {%- assign image_size = block.settings.image_width | append: 'x' -%}
                      <img
                        srcset= "{{ block.settings.image | img_url: image_size }}, {{ block.settings.image | img_url: image_size, scale: 2 }} 2x"
                        src="{{ block.settings.image | img_url: '400x' }}"
                        alt="{{ block.settings.image.alt | escape }}"
                        loading="lazy"
                        width="{{ block.settings.image.width }}"
                        height="{{ block.settings.image.height }}"
                        style="max-width: min(100%, {{ block.settings.image_width }}px);"
                      >
                    {%- else -%}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                    {%- endif -%}
                  </div>
                {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}

      <div class="footer-block--newsletter">
        {%- if section.settings.newsletter_enable -%}
          <div class="footer-block__newsletter">
            {%- if section.settings.newsletter_heading != blank -%}
              <h2 class="footer-block__heading">{{ section.settings.newsletter_heading | escape }}</h2>
            {%- endif -%}
            {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  >
                  <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                  <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                    {% render 'icon-arrow' %}
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {%- endform -%}
          </div>
        {%- endif -%}

        {%- if section.settings.show_social -%}
          <ul class="footer__list-social list-unstyled list-social" role="list">
            {%- if settings.social_twitter_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
                  {%- render 'icon-twitter' -%}
                  <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_facebook_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
                  {%- render 'icon-facebook' -%}
                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" >
                  {%- render 'icon-pinterest' -%}
                  <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
                  {%- render 'icon-instagram' -%}
                  <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tiktok_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" >
                  {%- render 'icon-tiktok' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tumblr_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" >
                  {%- render 'icon-tumblr' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" >
                  {%- render 'icon-snapchat' -%}
                  <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
                  {%- render 'icon-youtube' -%}
                  <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_vimeo_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" >
                  {%- render 'icon-vimeo' -%}
                  <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
                  {%- for country in localization.available_countries -%}
                    <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                      {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                <div class="disclosure">
                  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel">
                    {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                    {% render 'icon-caret' %}
                  </button>
                  <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled" hidden>
                    {%- for country in localization.available_countries -%}
                      <li class="disclosure__item" tabindex="-1">
                        <a class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                          {{ country.name }} <span class="localization-form__currency">({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large" id="FooterLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                <div class="disclosure">
                  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
                    {{ localization.language.endonym_name | capitalize }}
                    {% render 'icon-caret' %}
                  </button>
                  <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled" hidden>
                    {%- for language in localization.available_languages -%}
                      <li class="disclosure__item" tabindex="-1">
                        <a class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                          {{ language.endonym_name | capitalize }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
                <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
        <div class="footer__copyright caption">
          <small class="copyright__content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
          <small class="copyright__content">{{ powered_by_link }}</small>
        </div>
      </div>
    </div>
  </div>
</footer>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
